.app {
  text-align: center;
}

.selectButton {
  background-color: black;
  color: aqua;
  width: 100px;
  height: 35px;
}

.getActivityButton {
  background-color: blue;
  color: aqua;
  width: 220px;
  height: 60px;
}
.activityResult {
  font-size: 40px;
  font-weight: bold;
}

.input-container {
  display: flex;
  align-items: center; 
  margin: 70px 120px;
  justify-content: space-between;
  margin-top: 30px;
  
}


.input-with-icon {
  flex: 1; 
  height: 27px;
  margin-top: 5px;
}


.search {
  fill: white; 
  cursor: pointer;
  height: 30px;
}


::placeholder {
  font-stretch:wider;
  font-weight: bold;
  color: black;
  
 
}
