.app {
  text-align: center;
}

.selectButton {
  background-color: black;
  color: aqua;
  width: 100px;
  height: 35px;
}

.getActivityButton {
  background-color: blue;
  color: aqua;
  width: 220px;
  height: 60px;
}
.activityResult {
  font-size: 40px;
  font-weight: bold;
}

.input-container {
  display: flex;
  align-items: center; 
  margin-left: 30%;
  margin-right: 30%;
  justify-content: space-between;
  margin-top: 30px;
  
  
}

.search{
  
  border: none ;
  width:80px;
  background-color: white;
  text-decoration: none;
}


.input-with-icon {
 flex: auto;
  height: 33px;
  margin-top: 0px;
}




::placeholder {
  font-stretch:wider;
  font-weight: bold;
  color: black;
}

.info {
  
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-areas:
  "temp tempInfo"
    "feelsLike feelsLikeInfo"
    "description description"
    "wind wind";
    align-items: center;
    gap: 1;
    margin-top: 10px;
    margin-right: 20%;
    margin-left: 50%;
}

.description {
font-size: 70px;
text-align: left;
  margin-left: 10%;
  
}


.image-size {
  width: 250px;
  height: auto;
}

.popupContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.popupContent{
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  overflow: auto;
  max-height: 80%;
}


.NasaInfoContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}
.NasaExplanationContainer{
  color: aliceblue;
  font-size: 21px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.3); 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  max-width: 80%;
  overflow: auto;
  max-height: 80%;
}